// Font var
$fontFamily: 'Open Sans', sans-serif;
$fontSecond: 'Dosis', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$lineHeight: 1;
$fontSize: 15px;
$fontSizeMd: 14px;
$LetterSpacXs: .2em;
$letterSpacSm: .3em;
$letterSpacMd: .4em;
$letterSpacLg: .5em;
$letterSpSLg: 1.7em;


// Color var
$grey: #777777;
$greyXs: #999;
$greyLight: #cfcfcf;
$light: #f8f8f8;
$greyDark: rgba(119,119,119,0.8);
$white: #ffffff;
$whiteOpasity: rgba(255,255,255, .75);
$black: #111111;
$blackMd: #323232;


// Links color
$linkColor: #777777;
$linkHoverColor: #111111;


// Indents var
$indentXXs: 20px;
$indentXs: 80px;
$indentSm: 100px;
$indentDefault: 140px;